@charset "utf-8";
/* 冒頭でimport */
@import url('https://fonts.googleapis.com/css?family=Raleway:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,700&display=swap&subset=japanese');
/* フォントを指定したいところで */

html{
    background-color: #b4c1d1;
}

logo img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover; /* 画像のトリミング */
}

logotohome img{
    border-radius: 70%;
    width: 70px;
    height: 70px;
    object-fit: cover; /* 画像のトリミング */
}



/* ========== common ========== */
html, body {
	font-size: 16px;
	font-family: sans-serif;
	color: #393939;
  margin-left: 15px;
  margin-bottom: 40px;
	background: #ffffff;
}
h1 {
    color: #364e96;/*文字色*/
    padding: 0.5em 0;/*上下の余白*/
    border-top: solid 3px #364e96;/*上線*/
    border-bottom: solid 3px #364e96;/*下線*/
  }

.box1{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5989cf;
    background: #c6e4ff;
    border-bottom: solid 6px #aac5de;
    border-radius: 9px;
}
.box1 p {
    margin: 0; 
    padding: 0;
}
.box2 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
}
.box2 p {
    margin: 0; 
    padding: 0;
}

p{
    margin-left: 3em;
}
span.blackback{
    text-indent: 3em;
    background: #393939;
    color: #efefef;
}
table , td, th {
	border: 1px solid #595959;
	border-collapse: collapse;
}
td, th {
	padding: 3px;
	width: 150px;
	height: 25px;
}
th {
	background: #f0e6cc;
}
td {
	background: #ffffff;
}
.even {
	background: #fbf8f0;
}
.odd {
	background: #fefcf9;
}

main{
  background-color: #b4c1d1;
}


header {
  background-color: #333; /* ヘッダーの背景色を設定 */
  color: white; /* ヘッダーテキストの色を設定 */
  padding: 20px; /* ヘッダー内の余白を設定 */
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: white; /* ナビゲーションリンクのテキスト色を設定 */
}

footer {
  text-align: center; /* テキストを中央に配置 */
  background-color: #333; /* フッターの背景色を設定 */
  color: white; /* フッターテキストの色を設定 */
  padding: 10px; /* フッター内の余白を設定 */
}

.footer a{
  
  display: inline-block;
  justify-content: center;
  color: #ffffff;
  list-style: none;

}